h1  {
  color: #a46497;
  font-size: ;
  font family:railway; 
  margin-bottom: .;
  text-align: center;
  text-decoration: underline;
}

table {
  margin: ;
  width: ;
}

th {
  padding: ;
}

td {
  background-color ;
  border: 1px ;
  padding-left: .5em;
  padding-right: .5em;
}