img {
    max-height: 150px;
    max-width: 275px;
}

.square {
    height: 50px;
    width: 50px;
    background-color: #555;
}

.block {
    background-color: antiquewhite;
}

.sponsor-wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: auto;
}

.sponsor-card {
    max-width: 280px;
}

