

#target-tracker {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
}

.target {
    grid-column-start: 2;
    grid-column-end: 5;
    max-width: 50%;
}
.hero-img {
    height: 220px;
    width: 220px;
    border-radius: 50%;
}

.sponsor-img {
    max-height: 150px;
    max-width: 275px;
}

.square {
    height: 250px;
    width: 250px;
    background-color: #bbb;
    border-radius: 50%;
}


.hero-block {
    height: 255px;
    width: 255px;
}


.block {
    background-color: antiquewhite;
    border-radius: 50%;
    height: 235px;
    width: 235px;

}

#hero-map {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.sponsorwrapcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}


.sponsor-card {
    max-width: 280px;
}

#hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
}

#participants-block {
    grid-column-start: 2
}
#location-block {
    grid-column-start: 4
}

#course-block { 
    grid-column-start: 6
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}






  /* Sponsor contact form */
#sponsorContactUscontainer.bg {
  background:  rgb(101, 62, 151);
  margin-top: 50px;
  font-family: 'Raleway', sans-serif;
}
#sponsorContactUscontainer {
  position: relative;
  min-height: 100%;
}

div {
  display: block;
}

#content.ct_box {
  padding-bottom: 0;
}
#content {
  position: relative;
  padding: 10px 0 406px;
}

.cont_box2 {
  position: relative;
  width: 1110px;
  margin: 0 auto;
  font-weight: 500;
}
.cont_box2 .tit {
  padding: 37px 0 6px;
  font-size: 35px;
  font-weight: 500;
  color:white;
  text-align: center;
}
/* h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
} */
.cont_box2 .inner_wrap {
  min-height: 804px;
  background: #fff;
  text-align: center;
}
.sign_up_area {
  padding: 6px 166px 57px;
}
.sign_up_area .sub_tit {
  padding: 33px 0 0;
  font-size: 19px;
  text-align: left;
  font-weight: 500;
}
.sub_tit {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.sign_up_area .input_area {
  margin-top: 10px;
}
.cont_box2 .input_area {
  position: relative;
  text-align: center;
}
.sign_up_area .agree_txt {
  padding: 20px 0 2px;
  font-size: 16px;
  color: rgb(101, 62, 151);
  text-align: left;
}
/* p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
} */

.cont_box2 .btn_type9 {
  margin: 40px auto 0;
  color: white;
}
.btn_type9 {
  display: inline-block;
  vertical-align: top;
  min-width: 108px;
  padding: 0 29px;
  background: #2f2f2f;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: white;
  border-radius: 26px;
  cursor: pointer;
}
.btn_type8.v4, .btn_type9 {
  height: 48px;
  line-height: 48px;
}
.sign_up_area .bg_line {
  display: block;
  position: relative;
  height: 1px;
  margin: 52px 0 45px;
  background: #eaeaea;
}
.sign_up_area .bg_line .inner {
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  text-align: center;
}
.sign_up_area .bg_line .line_txt {
  display: inline-block;
  padding: 0 10px;
  line-height: 20px;
  background: #fff;
  font-size: 20px;
  text-align: center;
  color: #000;
}
.sign_up_area .bg_line {
  display: block;
  position: relative;
  height: 1px;
  margin: 52px 0 45px;
  background: #eaeaea;
}
.login_set {
  display: inline-block;
  overflow: hidden;
}
.login_set {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.sign_up_area .input_box {
  width: 100%;
  padding-bottom: 3px;
}
.cont_box2 .input_box {
  border-bottom: 1px solid #eaeaea;
  background: transparent;
  font-size: 19px;
}
.input_box {
  position: relative;
  overflow: hidden;
}
input, textarea {
  outline: none;
}
input {
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  cursor: text;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  margin: 0em;
  padding: 1px 2px;
  border-width: 2px;
  border-style: none;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}

form {
  margin: 50px auto;
  width: 90%;
  
}

.form-item label {
  flex-basis: 150px;
  font-size: 22px;
}
.form-item input,
.form-item textarea {
  flex-basis: 50%;
  border: 2px solid lightgray;
  
}
.form-item input:hover,
.form-item textarea:hover {
  border: 3px solid lightgray;
}
.form-item input,
.form-item textarea {
  border: 2px solid lightgray;
  background-color: #FFF;
  padding: 5px;
  font-size: 18px;
  border-radius: 7px;
  padding: 15px;
  width: 100%;
}

#badges {
  height: auto;
  width: 15px;
}
/* //Sponsor contact form */