
<footer>
    <div>
        <a href= "https://shecodes.com.au/" target="_blank" rel="noopener noreferrer"><img id="banner" src="{% static 'swc/images/f.png' %}"></a>
    </div>
    <div class="logos">
        <a href= "https://www.facebook.com/shecodesaustralia/" target="_blank" rel="noopener noreferrer"><img class='logo' src="{% static 'swc/images/facebook.png' %}"></a>
        <a href= "https://www.instagram.com/shecodesaus/?hl=en" target="_blank" rel="noopener noreferrer"><img class='logo' src="{% static 'swc/images/instagram.png' %}"></a>
        <a href= "https://www.linkedin.com/company/shecodesaustralia/" target="_blank" rel="noopener noreferrer"><img class='logo' src="{% static 'swc/images/linkedin.png' %}"></a>
        <a href= "https://twitter.com/shecodesaus" target="_blank" rel="noopener noreferrer"><img class='logo' src="{% static 'swc/images/twitter.png' %}"></a>
    </div>
</footer>
