{% load static %}
<footer>
    <div id="footer">
        <div class="shecodeslogo">
            <a href="https://shecodes.com.au/" target="_blank" rel="noopener noreferrer"><img
                    src="{% static 'swc/images/shecodes_logo.png' %}"></a>
        </div>
        <div class="para">
            <div id="footer-leftc" class="footer-text">
            <h5>SHE WHO CODES WELCOMES ALL WOMEN
                <br>
                WOMEN DEFINITION // Women - Transgender and cisgender, all those who experience or have experienced
                oppression as women,
                including non-binary and gender non-conforming people and all those who identify as women.
                Self-definition is at the discretion of the individual.<br>
                Definition credit: wire.org.au
            </h5>
        </div>
        <div id="footer-rightc" class="footer-text">
            <h5>She Codes would like to acknowledge the
                traditional owners of the lands on which we
                live and work and pay our respects to their
                elders past, present and emerging.<br>
            </h5>
            <img class='flags' src="{% static 'swc/images/flags-icon1.png' %}">
        </div>
        </div>
        <div class="logos">
            <a href="https://www.facebook.com/shecodesaustralia/" target="_blank" rel="noopener noreferrer"><img
                    class='logo' src="{% static 'swc/images/facebook.png' %}"></a>
            <a href="https://www.instagram.com/shecodesaus/?hl=en" target="_blank" rel="noopener noreferrer"><img
                    class='logo' src="{% static 'swc/images/instagram.png' %}"></a>
            <a href="https://www.linkedin.com/company/shecodesaustralia/" target="_blank" rel="noopener noreferrer"><img
                    class='logo' src="{% static 'swc/images/linkedin.png' %}"></a>
            <a href="https://twitter.com/shecodesaus" target="_blank" rel="noopener noreferrer"><img class='logo'
                    src="{% static 'swc/images/twitter.png' %}"></a>
        </div>
    </div>
</footer>