{% extends 'base.html' %}
{% load static %}

<h1>{{ story.first_name }}</h1>

{% block content %}

<!DOCTYPE html>
<html>
    <head>
        Meet our Alumni 
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <title>Meet the team  </title>
        <link rel="stylesheet" href="styles.css" />
        
        <body>
           Alumini who have come full circle with us and are now mentoring some of the 
           SheCodes remotly and in person classes. Each Almum brings something to the table. Be it,
           personable or language skills. The staisfaction around students becoming the mentor is what we strive
           for at She Codes. Here we showcase what courses our Mentors have donw with us and where they are now.     
        </body>
    </head>
</html>






<!--Alumni page for showcasing what courses have been done &  if flowed onto Mentoring -->
<!-- Enter page content -->


{% endblock %}