{% extends 'base.html' %}
{% load static %}
{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'swc/alumni.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
{% endblock %}
{% block content %}

<h1  id="page-title">Alumni </h1>
<!-- <img id="alumni-hero" src="https://rachelburford.github.io/images/donutAlumni.png"></img> -->
<p>We now have people that have been through the She codes journey that are now coming back to Mentor in our programs</p>

<h3>Our Cohorts Tech Journey</h3>
        <div class="story-wrapper">
            {% for participant in participants %}
            {% include "swc/alumniCard.html" with participant=participant position=forloop.counter %}
            {% endfor %}
        </div>

{% endblock %}