<div class="alumni-card" id="alumni-card-{{ position }}">
    {% if position < 6 %}
        <img class="participant-pic" src="{{ participant.profile_pic }}"></img>
        <img class="participant-badge" src="https://rachelburford.github.io/images/FLASH.png"></img>
        <h3 class="typewriter">About {{ participant.first_name }}</h3>
            <h5 class="participant-bio">{{ participant.bio }}</h4>
            
            <ul>
                {% for language in participant.language.all %}
                <li class="participant-languges">{{ language }}</li>
                {% endfor %}
            </ul>
            <div>
                <p> {{ participant.first_name }} codes {{ participant.language.count}} languages</p>
            </div>
    {% else %}
    {% endif %}
</div>