{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'swc/index.css' %}">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>
  <script type="text/javascript" src="{% static 'swc/map-scripts.js' %}"></script>
{% endblock %}

{% block content %}

  <div id="KPI-counter"> 
    KPI Counter 
  </div>
  
  <div id="Heatmap-filter-buttons">
    
  </div>
  
  <div id="heatmap"></div>

<div class="container-1">
  <div class="panel-pathways">
    <h3 class="panel-title">Pathways</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium, qui animi? Veniam consequuntur, expedita non, fugiat labore dolore culpa ullam, ipsum est doloremque optio reiciendis.</p>
    <a class="Panel_button" href="url 'swc:pathways' ">Find out more</a>
  </div>

  <div class="panel-alumni">
    <h3 class="panel-title">Alumni</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea non fugit quisquam optio sed iste quidem quam libero doloribus magni natus, eius, nobis hic adipisci.</p>
    <a class="Panel_button" href="{% url 'swc:alumni' %}">Find out more</a>
  </div>

  <div class="panel-sponsors">
    <h3 class="panel-title">Partner with us</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur nam, officia architecto suscipit assumenda molestiae tempore consectetur minus rem voluptatem illum exercitationem unde vero nemo.</p>
    <a class="Panel_button" href="{% url 'swc:sponsors' %}">Find out more</a>
  </div>
</div>

  {% endblock %}
