{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'swc/index.css' %}">
{% endblock %}

{% block content %}


<div id="index-hero"  
  <h1>Hello World,</h1>
  <h2>welcome to She Codes Dashboard</h2> 
  <h3>We have lofty goals - <h3>
  <h4>Our vision is to inspire 100,000 women to enter tech by 2025.
    We do this by organising events and programs to upskill women across Australia to enter tech careers, 
    and partner with government and industry to provide opportunities for learning and development</h4>
    <br>
  </div>

  <div id="KPI-counter"> 
    <h3>KPI Counter</h3>
    <div id="target-tracker">
      <div class="target">
          <h2>100k Participants by 2025</h2>
      </div>
      <div class="meter">
          <span style="width: 100%"></span>
      </div>
    </div>
  </div>


  <div id="Heatmap-filter-buttons">
    
  </div>
  
  <div id="Heatmap">
    HEATMAP
  </div>

<div class="container-1">
  <div class="panel-pathways">
    <h3 class="panel-title">Pathways</h3>
    <p> She Codes pathway is a sustainable model for people to transition from beginner level to job-ready developer, while building community, capability and structural change.</p>
    <a class="Panel_button" href="url 'swc:pathways' ">Find out more</a>
  </div>

  <div class="panel-alumni">
    <h3 class="panel-title">Alumni</h3>
    <p>Alumni are supported in finding internships and career strengthening opportunities post-program, and are encouraged to return as mentors to share their passion with future cohorts.</p>
    <a class="Panel_button" href="{% url 'swc:participant' %}">Find out more</a>
  </div>

  <div class="panel-sponsors">
    <h3 class="panel-title">Partner with us</h3>
    <p>We work with incredible organisations to support women in the tech industry through our weekend workshop, one week intensive program or our six-month course.</p>
    <a class="Panel_button" href="{% url 'swc:sponsors' %}">Find out more</a>
  </div>
</div>

  {% endblock %}
