{% extends 'base.html' %}
{% load static %}
{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'swc/pathways.css' %}">
<script src='https://cdn.jsdelivr.net/npm/chart.js'></script>
<script src='{% static 'swc/pathways.js' %}'></script>

{% endblock %}

{% block content %}


<!-- Enter page content -->

<h1>Pathways - Learners Page</h1>

<!-- insert graph of participants in programs past, present and future -->
<div id="pathways-graph"> 
    <img id="hero-pathway" src="https://rachelburford.github.io/images/pathwayherograph.png"></img>
</div>

<div id="temp">
    {% include "swc/pathwaysCardLeft.html" with course=programcounter2.Workshop %}
    {% include "swc/pathwaysCard.html" with course=programcounter2.Flash %}
    {% include "swc/pathwaysCardLeft.html" with course=programcounter2.Plus %}
    {% include "swc/pathwaysCard.html" with course=programcounter2.Internship %}
    {% include "swc/pathwaysCardLeft.html" with course=programcounter2.Mentor %}
</div>

 <div class="chartingexample">
    <canvas id="myChart"></canvas>
</div>


{% comment %} <div id="pathways">
    <div class="pathways-boxes" id="workshop">
        {{ programcounter2}}
        <h2>Workshop {{ programcounter2.Workshop }}</h2>
        <img src="{{ programcounter2.Workshop.course_img }}"/>
        <h2>Workshop {{ programcounter2.Workshop.students }}</h2>
    </div>
</div> {% endcomment %}


{% comment %} 
        <div>

            
            {% for course in programcounter %}
            <h3>hi</h3>
            <h3> {{ course.program }} </h3>


            <h3> {{ course.students }} </h3>

            <h3> {{ course.course_img }} </h3>
            <!-- <img src="{{ course.course_img }}"> -->
            
            {% endfor %}

        </div>
        <p>
            Fall in love with tech at our one day workshop
        </p>
    </div>
    <div class="pathways-boxes" id="flash">
        <h2>Flash</h2>
        <div>
            participant numbers
        </div>
        <p>
            Dip your toes deeper during one week at Flash
        </p>
    </div>
    <div class="pathways-boxes" id="plus">
        <h2>Plus</h2>
        <div>
            participant numbers
        </div>
        <p>
            Supercharge your tech career with six months of Plus
        </p>
    </div>
    <div class="pathways-boxes" id="internship">
        <h2>Internship</h2>
        <div>
            participant numbers
        </div>
        <p>
            Learn on the job with internships and opportunities
        </p>
    </div>
    <div class="pathways-boxes" id="mentor">
        <h2>Mentor</h2>
        <div>
            participant numbers
        </div>
        <p>
            Share your skills as a mentor 
        </p>
    </div>
</div>

<div id="pathways-line">
    <div class="pathways-icon" id="workshop-icon">
        <h2>Workshop</h2>
    </div>
    <div class="pathways-icon" id="flash-icon">
        <h2>Flash</h2>
    </div>
    <div class="pathways-icon" id="plus-icon">
        <h2>Plus</h2>        
    </div>
    <div class="pathways-icon" id="internship-icon">
        <h2>Internship</h2> 
    </div>
    <div class="pathways-icon" id="mentor-icon">
        <h2>Mentor</h2>        
    </div>
</div>

<div id="pathways-progression">
    <div class="progression" id="workshop-progression">
        <div>
            participant numbers from workshop to any other program
        </div>
    </div>
    <div class="progression" id="flash-progression">
        <div>
            participant numbers from flash to any other program
        </div>
    </div>
    <div class="progression" id="plus-progression">
        <div>
            participant numbers from plus to any other program
        </div>        
    </div>
    <div class="progression" id="internship-progression">
        <div>
            participant numbers from internship to any other program
        </div>
    </div>
    <div class="progression" id="mentor-progression">
        <div>
            participant numbers from mentor to any other program
        </div>
    </div>
</div>

 {% endcomment %}

 
{% endblock %}