<div id="bio-container">
    <div id="slides" class="slideshow-container">
            <div class="mySlides fade">
                <img class="photos" onerror="onError()" src="{{ sponsor.logo_url }}">
                <div>
                </div>
                <div id="control-buttons">
                    <button class="prev" onclick="plusSlides(-1)">&#10094;</button>
                    <button class="next" onclick="plusSlides(1)">&#10095;</button>
                </div>
            </div>
    <br>
    </div>
</div>