<div id="sponsorContactUscontainer" class="bg">
    <div id="content" class="ct_box">
        <div class="cont_box2">
            <h2 class="tit">Contact us and find out how we can deliver a program in your community</h2>
            <div class="inner_wrap">
                <div class="sign_up_area">
                    <form action="https://formspree.io/f/mjvjypoo" method="POST">
                        <div>
                            <h3 id="nameAreaHeader" class="sub_tit">YOUR NAME</h3>
                        <div class="input_area _inputArea">
                            <input type="text" id="name" name="name" class="input_box _name"placeholder="Enter your name">
                                </div>
                        <div>
                            <h3 id="nameAreaHeader" class="sub_tit">COMPANY NAME</h3>
                        <div class="input_area _inputArea">
                            <input type="text" id="name" name="name" class="input_box _name"placeholder="Enter your Company name">
                                </div>
                        <div>
                            <h3 id="emailAreaHeader" class="sub_tit">EMAIL ADDRESS</h3>
                        <div id="emailArea" class="input_area _inputArea">
                            <input type="email" id="email" name="email" class="input_box _email" maxlength="64" placeholder="Enter Email address">
                            </div>
                        
                        <div>
                            <h3 id="subjectAreaHeader" class="sub_tit">SUBJECT</h3>
                        <div class="input_area _inputArea">
                            <input type="email" id="subject" name="subject" class="input_box _sub"placeholder="Enter your subject">
                            </div>
                        
                        
                        <div>
                            <h3 id="messageAreaHeader" class="sub_tit">MESSAGE</h3>    
                            <div class="form-item">
                            <textarea id="message" name="message" placeholder="Enter your message"></textarea>
                            </div>
                
                            <button class="btn_type9" type="submit">Submit message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>