{% extends 'base.html' %}
{% load static %}
{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'swc/sponsors.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'swc/meter.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
{% endblock %}

{% block content %}

<!-- Enter page content -->

<h1 id="page-title">Sponsors Page</h1>

<div class="container">
    <div class="left">
        <p> SheCodes Sponsors </p>

    <div class="center">
    
    <p> SheCodes Sponsorship Benefits </p>

    <img src="XXXXXXXXX" width="400" height="267" alt="XXXXXX" />
    </div>

    <div class="right">

    <p>
    Our histories are unique. The places that we root ourselves, the communities that we are part of, and the ways those relationships change over time are both personal and shared experiences. 
    <br><br>
    Whats the benefit?<br>
    Why would I sponsor?<br>
    Who else has sponsored? <br>
    What regions are involved? <br>
        </p></div>70
        </div> 

    <div id="hero-container">
        <div id="participants-block" class="hero-block">
            <div class="block">
                <img id="badges" src="{% static 'swc/images/participants.png' %}">
                <div class="text-block">
                    <h4 id="hello-1">{{ statsone }}</h4>
                    <p id="hello-1">Participants</p>
                </div>
            </div>
        </div>
        <div id="location-block" class="hero-block">
            <div class="block">
                <img id="badges" src="{% static 'swc/images/industries.png' %}">
            <div class="text-block">
                <h4 id="hello-1">{{ industries }}</h4>
                <p id="hello-1">Industries</p>
            </div>
        </div>
    </div>
    <div id="course-block" class="hero-block">
        <div class="block">
            <img id="badges" src="{% static 'swc/images/upskilling.png' %}">
            <div class="text-block">
                <h4 id="hello-1">{{ upskilling }}</h4>
                <p id=id="hello-1">Upskilling</p>
            </div>
        </div>
    </div>
</div>

<div id="sponsor-heatmap">
    <img id="hero-map" src="https://rachelburford.github.io/images/map.png"></img>
</div>

                
<h2>OUR SPONSORS</h2>
    <div class="sponsorwrapcontainer">
    {% for sponsor in sponsors %}
    {% include "swc/sponsorCard.html" with sponsor=sponsor position=forloop.counter %}
    {% endfor %}
    </div>



{% include "swc/sponsorsform.html" %}
<script type="text/javascript" src="{% static 'swc/sponsors.js' %}"></script>
{% endblock %}
