{% extends 'base.html' %}
{% load static %}
{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'swc/sponsors.css' %}">
{% endblock %}

{% block content %}

<div>
    <div id="participants-block">
        <div class="block">
            <img src=https://i.stack.imgur.com/y9DpT.jpg></img>
        </div>
    </div>
    <div id="location-block">
        <div class="block">
            <img src=https://i.stack.imgur.com/y9DpT.jpg></img>
    </div>
    <div id="course-block">
        <div class="block">
            <img src=https://i.stack.imgur.com/y9DpT.jpg></img>
    </div>
</div>

<div id="sponsor-heatmap">
    <h2>HEATMAP GOES HERE</h2>
    <div class="square"></div>
</div>
<div id="sponsor-wrapper">
    <h2>PR SECTION - I.E OUR SPONSORS</h2>
    {% for sponsor in sponsors %}
    
    <p>{{ sponsor.id }}</p>

    {% include "swc/sponsorCard.html" with sponsor=sponsor position=forloop.counter %}

    {% endfor %}
</div>

<!-- Enter page content -->


{% endblock %}