body {
    background-color: #f3edf3;
    font-family: system-ui, sans-serif;
    margin-left: 15px;
    margin-right: 15px;
}

#header-text {
    color: #862aa3;
    font-size: 50px;
    text-shadow: 5px 5px #f59818;
    text-align: center;
}

h1 {
    font-family: system-ui, sans-serif;
    text-decoration: none;
    font-size: 4rem;
    margin: 0;
    text-align: center;
}

h2 {
    font-family: system-ui, sans-serif;
    text-align: center;
    margin: 0;
}

h3 {
    font-size: 2rem;
    margin: 0;
    font-family: system-ui, sans-serif;
    text-align: center;
}
p {
    color: black;
    display: block;
    text-align: center;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h5 {
    display: flex;
    justify-content: space-evenly;
    color: #f2f2f2;
    font-family: system-ui, sans-serif;
    text-align: center;
}

#banner {
    width: 100%;
    height: auto;
    display: flex;
}

.topnav {
    overflow: hidden;
    background-color: #000;
    display: flex;
    justify-content: space-evenly;
}
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    font-size: 1rem;
    padding: 0.8rem;
    flex: 1;
}
  
.topnav a:hover {
    background-color: #f59818;
    color: #f2f2f2;
}

#footer {
    background: linear-gradient(to bottom,#f2f2f2 23%,#000 23% 80%);
}

#footer-rightc {
   text-align: center;
}

.para {
    display: flex;
    align-items: baseline;
    align-content: space-between;
    justify-content: space-evenly;
}

.footer-text {
    margin: 20px;
    width: 40%;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.logos {
    display: flex;
    justify-content: space-evenly;
}

.flags {
    max-height: 30px;
    width: auto;
}
#hello {
    font-family: 'Bad Script', cursive;
    text-align: left;
    margin-left: 150px;
    margin-top: 50px;
}

#hello-1 {
    font-family: 'Bad Script', cursive;
    text-align: centre;
    margin-left: auto;
    margin-top: auto;
    margin-top: 35px;
    margin-bottom: 35px;
}

#welcome {
    text-align: left;
    margin-left:150px;
    color: #f59818;
}

#page-title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#goal {
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
}

#badges {
    height: auto;
    width: 250px;
}

.text-block{
    text-align: center;
}

.hero-block {
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (min-width:500px){
    .grid {
        grid-template-columns: 50% 50%;
    }
}

@media (min-width:900px){
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width:1200px){
    html {
        font-size: 25px;
      }
}

#dash {
    display: flex;
  }
